* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  background-image: linear-gradient(90deg, rgb(3, 3, 90), rgb(109, 109, 5));
}

@media screen and (max-width: 480px){
  .container {
    max-width: 480px;
  }
}

@media screen and (max-width: 768px){
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 1280px){
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1281px){
  .container {
    max-width: 1400px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(16, 16, 66), rgb(12, 59, 104));
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgb(216, 216, 29);
}

.serch-text {
  height: 25px;
  background-color: rgba(212, 212, 7, 0.726);
  color: rgb(5, 5, 147);
  outline: none;
  border: 1px solid rgba(141, 134, 138, 0.84);
  border-radius: 5px 0 0 5px;
}

.serch-text::placeholder {
  color: rgba(31, 31, 206, 0.523)
}

.search-btn {
  height: 25px;
  background-color: rgb(216, 216, 29);
  color: rgb(5, 5, 147);
  outline: none;
  border: 1px solid rgba(141, 134, 138, 0.84);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgba(20, 20, 205, 0.87);
  color: rgb(216, 216, 29);
  box-shadow: 0px 0px 8px rgb(216, 216, 29);
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  
  margin-right: -20px;
}

.gallery_link {
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 300ms linear;
}

@media screen and (max-width: 768px) {
  .gallery_link {
    flex-basis: calc(100%/2 - 20px);
  }
}
@media screen and (min-width: 769px) {
  .gallery_link {
    flex-basis: calc(100%/3 - 20px);
  }
}

.gallery_link:hover{
  transform: scale(1.05);
  text-decoration: none;
  
}

.photo-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 1px 3px #f1ecec, 0px 1px 1px rgba(233, 228, 228, 0.959), 0px 2px 1px rgba(241, 235, 235, 0.945);
}

.photo-card img {
  display: block;
  width: 100%;
  height: 30vh;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}

.info-item{
  font-size: 12px;
  text-align: center;
  color: azure;
}

.load-btn {
  display: block;
  width: 130px;
  height: 35px;
  margin: 0px auto 20px;
  background-color: rgba(18, 18, 128, 0.856);
  color: rgb(185, 185, 8);
  outline: none;
  border: 1px solid rgb(216, 216, 29);
  border-radius: 30px;
  cursor: pointer;
}
.load-btn:hover,
.scroll-btn:hover {
  box-shadow: 0 0 8px yellow, 0 0  8px yellow;
  text-decoration: none;
}

.load-btn.is-hidden {
  display: none;
}

.scroll-btn {
  position: fixed;
  right: 1vw;
  bottom: 2vh;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #f3f2fa;
  border-radius: 50%;
  color: #f1ecec;
  opacity: 0;
  visibility: hidden;
}

.scroll-btn.is-visible {
  opacity: 1;
  visibility: visible;
}